<div class="header">
    <ul>
        <li><a class="active" href="#home">Today</a></li>
        <li><a href="#prev"><<</a></li>
        <li><a href="#random">Random</a></li>
        <li><a href="#next">>></a></li>
        {{#if user}}
            <li style="float:right"><a href="#about">Logout</a></li>
            <li style="float:right"><a href="#about">Favorites</a></li>
        {{else}}
            <li style="float:right"><a href="#about">Login</a></li>
            <li style="float:right"><a href="#about">Signup</a></li>
        {{/if}}
    </ul>
</div>