:root {
    --modal-background: rgba(255,255,255,0.5);
    --main-color: #3F3F3F;

    --main-hover-color: #111;

    --secodary-color: #4f4f4f;

    --light-text: white;
    --dark-text: black;

    --text-background: ghostwhite;
    --sight-background: azure;
}

body {
    background-color: var(--sight-background);
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
}


.right {
    float: right;
}

.left {
    float: left;
}

/**************************/
/* CSS for Header and nav */
/**************************/

.header {
    /*background: red;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /*height: 4em;*/
    z-index: 20;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-color);
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: var(--light-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: var(--main-hover-color);
}

.active {
    background-color: var(--main-hover-color);
}

/**************************/
/*   CSS for APOD Card    */
/**************************/

.apod-card {
    margin: 4em auto;

    width: 1000px;
    height: 500px;
    /*max-width: 30em;*/

    background-color: var(--text-background);
    border: solid 2px var(--secodary-color);

    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;

    position: relative;

}


.apod-body {
    float: right;
    width: 499px;
}

.apod-head {
    background-color: var(--secodary-color);

    position: relative;


    padding: .5em;

}

.apod-head h1{
    font-size: 20pt;
}

.apod-text {
    /*background-color: darkgoldenrod;*/
    padding: 1em;
}

.apod-foot {
    background-color: var(--secodary-color);
    position: absolute;
    padding: .5em;
    bottom: 0;
    left: 0;
    right: 0;
}

.apod-foot input[type=submit] {
    display: block;
    border: none;
    cursor: pointer;
    color: var(--light-text);
    background-color: var(--secodary-color);
}

.apod-foot input[type=submit]:hover {
    display: block;
    border: none;
    cursor: pointer;
    color: var(--dark-text);
    background-color: var(--light-text);
}

.apod-foot a {
    text-decoration: none;
    color: var(--light-text);
}

.apod-image {
    float: left;
    border-right: solid 1px var(--secodary-color);

}

.apod-img {
    height: 500px;
    width: 500px;
    margin: 0;
    /*border: solid 5px deeppink;*/
}


/**************************/
/*     CSS for Modals     */
/**************************/

.modal {
    display: none;

    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: var(--modal-background);

    text-align: center;

    z-index: 1000;


}

.modal-content {
    position: absolute;
    background-color: white;
    border: solid 1px black;

    display: inline-block;

    margin: 3em auto;

    padding: 1em;
}